yolo_files/yolov7.onnx
yolo_files/yolov7.weights
move_vids/one_pers_dance_1.mp4
move_vids/one_pers_dance_2.mp4
move_vids/one_pers_dance_3.mp4
move_vids/one_pers_dance_4.mp4
move_vids/one_pers_dance_5.mp4
move_vids/one_pers_dance_6.mp4
move_vids/one_pers_surf_1.mp4